{
  "plugins": [
    [
      "babel-plugin-module-resolver", {
        "root": ["./src"],
        "extensions": [".js", ".jsx"],
        "alias": {
          "@app/components": "./src/components"
        }
      }
    ]
  ]
}
